body{
    font-family:Arial, Helvetica, sans-serif ;
}
/* Стиль вкладки */
.tab {
    overflow: hidden;
    border: 3px solid #0c0c0c;
    background-color: #f1f1f1;
  }
  
  /* Стиль кнопок, которые используются для открытия содержимого вкладки */
  .tab button {
    background-color: inherit;
    float: left;

    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Изменение цвета фона кнопок при наведении курсора */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Создание активного/текущего класса связи вкладки */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Стиль содержимого вкладки */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #020202;
    border-top: none;
    
  }

  .tablinks{
    display: block;
    width:auto;
  }

  span{
    font-size: 12px;
    line-height: 20px;
  }

  .input{
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .nac2{
    margin: auto 30px;
  }

  table, th, td {
    width: 200%;
    margin-left: 20px;
    border: 1px solid black;
    border-collapse: collapse;
  }

.blok5{

  display: flex ;
}
h1{
  text-align: center;
}

.selected {
  
}

.tablt{
  width: 140px;
  height: 10px;
  margin-left:150px;
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
